html {
  font-family: "Roboto Slab", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  word-wrap: break-word;
  font-kerning: normal;
  color: #555555;
}

* {
  transition: background-color 0.2s linear, color 0.05s linear;
  box-sizing: border-box;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

* {
  box-sizing: inherit;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  font-weight: 300;
}

p strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

figure {
  margin: 0;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  width: 0;
  height: 2px;
  background-color: #0071bc;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline:hover::after {
  left: 0;
  right: 0;
  width: 100%;
}

.starter {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 9999;
}

.container.container--small {
  max-width: 600px;
}

.form-control {
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 1rem;
}

.form-control:last-of-type {
  margin-bottom: 3rem;
}

.form-label {
  display: block;
  text-align: start;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.form-input {
  width: 100%;
  min-width: 0px;
  position: relative;
  appearance: none;
  font-size: 2rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  height: 4rem;
  border-radius: 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: inherit;
  background: inherit;
  color: #393939;
}

.dark-theme .form-control {
  color: #ddd;
}

.dark-theme .form-input {
  color: #ddd;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #0071bc;
  transform-origin: 0%;
  z-index: 10;
}
